@font-face {
    font-family: ChillRoundF;
    src: url("../fonts/ChillRoundFRegular.woff") format("truetype"),
        url("../fonts/ChillRoundFBold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: ChillRoundF, Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

main {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about {
    width: 100%;
}