@font-face {
    font-family: ChillRoundF;
    src: url("../fonts/ChillRoundFRegular.woff") format("truetype"),
        url("../fonts/ChillRoundFBold.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: ChillRoundF, Verdana, Arial, sans-serif;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #fffbf0;
}

/* 打字坤 */
.typing {
    display: inline-block;
    /* 改为 inline-block，避免占满整个行 */
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 4s steps(30) 1s forwards, blink-caret 0.75s step-end infinite;
    position: relative;
}

main {
    margin: 10;
    margin-top: 70px;
    /* 留出空间给固定头部 */
}

#top-banner {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(245 245 220);
    background-size: cover;
}

#top-banner svg {
    position: absolute;
    top: 0;
}

#top-banner h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}

#top-banner span {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-top: 200px;
}

.inner-header {
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.content h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #666;
}

#friend-links ul{
    list-style-type: none !important;
}

/* 按钮 */
.main-btn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background-color: #FFD700;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid transparent;
    background-size: 200%;
    transition: all 0.4s ease-in-out;
}
.main-btn:hover {
    background-position: 100% 0;
    color: #000;
    border-color: #FFD700;
}

footer {
    background-color: #FFF1E0;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #555;
    margin: 0;
}

@media (max-width: 768px) {
    #top-banner h1 {
        font-size: 2.5em;
    }

    #top-banner p,
    .content h2,
    .main-btn {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content {
        width: 48%;
        box-sizing: border-box;
    }

    #about {
        width: 100%;
    }
}
